/* line 6, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
html body {
  font-size: 62.5%;
  font-family: "Open Sans"; }
  /* line 9, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  html body p {
    font-size: 1.3rem; }
  /* line 11, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  html body nav {
    padding-bottom: 2rem; }
  /* line 13, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  html body a {
    color: inherit;
    text-decoration: none; }
    /* line 16, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
    html body a:hover, html body a:focus {
      text-decoration: none;
      color: inherit; }

/* line 20, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
.logo {
  text-align: left;
  cursor: pointer; }
  /* line 23, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .logo::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: .1rem;
    bottom: 0;
    left: 1.5rem;
    border-bottom: 0.2rem solid #69737c; }
  /* line 31, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .logo h1 {
    font-size: 3.2rem;
    font-weight: 300; }

/* line 34, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
.nav-wrapper {
  height: 8rem; }

/* line 36, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
#navigation {
  height: 8rem;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

/* line 40, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
.navbar-fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #f7f9f8;
  box-shadow: 0px 1px 2px rgba(32, 37, 25, 0.6); }

/* line 48, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
.close-btn,
.open-btn {
  position: absolute;
  display: none;
  background-color: transparent;
  border: none;
  right: 1rem;
  margin-top: 3rem;
  margin-right: 1.5rem; }

/* line 57, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
.links__open {
  float: right;
  height: 15rem;
  padding-top: 1rem;
  margin-top: 5rem; }
  /* line 62, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .links__open a {
    width: 15rem;
    text-align: right;
    display: block;
    color: #69737c;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    margin: 1rem;
    padding: 0.2rem; }
  /* line 72, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .links__open a:hover {
    text-decoration: none; }
  /* line 74, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .links__open .active {
    padding: 0.1rem 1rem;
    color: #f0423b;
    border: 2px solid #f0423b;
    text-decoration: none; }

/* line 79, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
.links {
  text-align: right;
  margin-top: 3rem; }
  /* line 82, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .links a {
    color: #69737c;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    margin: 1.5rem; }
  /* line 88, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .links a:hover {
    text-decoration: none; }
  /* line 90, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .links .active {
    padding: 0.1rem 1rem;
    color: #f0423b;
    border: 2px solid #f0423b;
    text-decoration: none; }

/* line 95, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
#img-holder {
  margin-top: 10rem;
  margin-bottom: 10rem;
  height: auto;
  position: relative;
  text-align: center; }
  /* line 101, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #img-holder .hide-holder {
    border: none; }
  /* line 103, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #img-holder .show-holder {
    border: 0.1rem solid #69737c; }
  /* line 105, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #img-holder .single-holder {
    position: relative;
    display: inline-block; }
    /* line 108, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
    #img-holder .single-holder:hover {
      border: 0.1rem solid #f0423b; }
    /* line 110, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
    #img-holder .single-holder .overlay {
      position: absolute;
      margin: 1rem;
      width: 26rem;
      height: 26rem;
      background-color: rgba(240, 66, 59, 0.95);
      display: none; }
      /* line 117, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
      #img-holder .single-holder .overlay .plus-button {
        position: relative;
        top: 30%;
        transform: translateY(50%);
        width: 5rem;
        height: 5rem;
        background-color: transparent;
        border: none; }
        /* line 125, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
        #img-holder .single-holder .overlay .plus-button i {
          color: #f7f9f8;
          font-size: 4.2rem; }
      /* line 128, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
      #img-holder .single-holder .overlay .filter-btn {
        margin: 1rem 0;
        position: relative;
        background-color: transparent;
        border: none;
        font-size: 2.4rem;
        display: none;
        color: #f7f9f8;
        top: 5rem;
        left: 8rem; }
  /* line 139, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #img-holder .single-holder:hover .overlay {
    display: block; }
  /* line 142, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #img-holder img {
    width: 28rem;
    height: 28rem;
    padding: 1rem;
    float: left; }
  /* line 147, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #img-holder .grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  /* line 150, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #img-holder .sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%); }
  /* line 153, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #img-holder .invert {
    -webkit-filter: invert(100%);
    filter: invert(100%); }

/* line 157, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
#contact {
  background: url("../img/contact-image.jpg") no-repeat;
  background-color: #69737c;
  background-size: cover;
  clear: both;
  margin-top: 10rem;
  padding-bottom: 5rem; }
  /* line 165, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact .contact-text {
    font-size: 3.2rem;
    font-weight: 300;
    color: white;
    margin-top: 5rem; }
    /* line 171, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
    #contact .contact-text::after {
      content: "";
      position: absolute;
      width: 5.2rem;
      height: .2rem;
      bottom: 0;
      left: 1.5rem;
      border-bottom: 0.2rem solid #f7f9f8; }
  /* line 180, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact #name-input,
  #contact #email-input {
    width: 85%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: transparent;
    border: 0.2rem solid #f7f9f8; }
  /* line 188, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact .name-form-describe,
  #contact .email-form-describe {
    font-weight: 700;
    color: #f7f9f8;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 0.5rem; }
  /* line 196, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact .contact-info {
    line-height: 2.2rem;
    margin-top: 4rem;
    font-weight: 500;
    font-size: 2rem;
    color: #f7f9f8; }
  /* line 202, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact p:nth-child(2) {
    margin-top: 2rem; }
  /* line 205, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact .message-form-describe {
    font-weight: 700;
    color: #f7f9f8;
    margin: 0;
    margin-top: 1rem; }
  /* line 210, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact #message-input {
    width: 100%;
    padding: 1rem;
    padding-bottom: 14rem;
    box-sizing: border-box;
    background-color: transparent;
    border: 0.2rem solid #f7f9f8; }
  /* line 218, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact #submit-input {
    margin-top: 1rem;
    background-color: #f0423b;
    border: none;
    padding: 1.5rem 0;
    width: 30%;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f7f9f8; }
  /* line 228, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact input[type="text"],
  #contact input[type="email"] {
    font-size: 2.4rem;
    color: #f7f9f8; }

@media (max-width: 1199px) {
  /* line 234, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .contact-text:after {
    top: 4rem; } }

@media (max-width: 769px) {
  /* line 238, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .logo h1 {
    font-size: 2rem; }
  /* line 240, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .links {
    display: none; }
  /* line 242, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .open-btn {
    display: block;
    margin-top: 2rem; }
  /* line 245, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .close-btn {
    margin-top: 2rem; }
  /* line 248, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact #email-input,
  #contact #name-input {
    width: 100%; }
  /* line 251, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact input[type="text"],
  #contact input[type="email"] {
    font-size: 1.8rem;
    color: #f7f9f8; }
  /* line 256, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #contact .contact-info p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400; }
  /* line 260, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  .nav-wrapper {
    height: 7.2rem; }
  /* line 262, C:/Users/Patryk/Desktop/CV , FRONT-END/ex_senetic/css/main.sass */
  #navigation {
    height: 7.2rem; } }

/*# sourceMappingURL=main.css.map */